.create-accouint {
  background-color: #ffefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.create-accouint .overlap-group-wrapper {
  background-color: #ffefef;
  width: 342px;
  height: 568px;
}

.create-accouint .overlap-group {
  position: relative;
  height: 568px;
  background-image: url(./img/rectangle-300.png);
  background-size: cover;
  background-position: 50% 50%;
}

.create-accouint .overlap {
  position: absolute;
  width: 342px;
  height: 51px;
  top: 509px;
  left: 0;
  background-image: url(./img/rectangle-223.svg);
  background-size: 100% 100%;
}

.create-accouint .rectangle {
  position: absolute;
  width: 48px;
  height: 49px;
  top: 2px;
  left: 260px;
  background-color: #ffffff;
}

.create-accouint .img {
  position: absolute;
  width: 52px;
  height: 41px;
  top: 7px;
  left: 8px;
  object-fit: cover;
}

.create-accouint .div-wrapper {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 215px;
  left: 82px;
  background-color: #d9d9d9;
}

.create-accouint .text-wrapper {
  position: absolute;
  width: 127px;
  top: 5px;
  left: 6px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.create-accouint .div {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 327px;
  left: 82px;
  background-color: #d9d9d9;
}

.create-accouint .text-wrapper-2 {
  position: absolute;
  width: 66px;
  top: 5px;
  left: 6px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.create-accouint .overlap-2 {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 291px;
  left: 83px;
}

.create-accouint .rectangle-2 {
  position: absolute;
  width: 137px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.create-accouint .rectangle-3 {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.create-accouint .text-wrapper-3 {
  position: absolute;
  width: 116px;
  top: 5px;
  left: 5px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.create-accouint .overlap-3 {
  position: absolute;
  width: 150px;
  height: 26px;
  top: 254px;
  left: 82px;
  background-color: #d9d9d9;
}

.create-accouint .text-wrapper-4 {
  position: absolute;
  width: 84px;
  top: 5px;
  left: 6px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.create-accouint .image {
  position: absolute;
  width: 219px;
  height: 72px;
  top: 57px;
  left: 49px;
  object-fit: cover;
}

.create-accouint .overlap-4 {
  position: absolute;
  width: 88px;
  height: 31px;
  top: 390px;
  left: 114px;
  background-image: url(./img/rectangle-303.svg);
  background-size: 100% 100%;
}

.create-accouint .text-wrapper-5 {
  position: absolute;
  width: 78px;
  top: 1px;
  left: 5px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-accouint .text-wrapper-6 {
  position: absolute;
  width: 159px;
  top: 147px;
  left: 79px;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
