.privacy-and-safety {
  background-color: #fffbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.privacy-and-safety .div {
  background-color: #fffbfb;
  overflow: hidden;
  width: 320px;
  height: 568px;
  position: relative;
}

.privacy-and-safety .overlap-group {
  position: absolute;
  width: 320px;
  height: 568px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-325.png);
  background-size: cover;
  background-position: 50% 50%;
}

.privacy-and-safety .text-wrapper {
  position: absolute;
  width: 264px;
  top: 119px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffffd4;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.privacy-and-safety .rectangle {
  position: absolute;
  width: 302px;
  height: 46px;
  top: 153px;
  left: 5px;
}

.privacy-and-safety .text-wrapper-2 {
  position: absolute;
  width: 236px;
  top: 308px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.privacy-and-safety .text-wrapper-3 {
  position: absolute;
  width: 297px;
  top: 214px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.privacy-and-safety .img {
  position: absolute;
  width: 302px;
  height: 46px;
  top: 253px;
  left: 5px;
}

.privacy-and-safety .overlap {
  position: absolute;
  width: 296px;
  height: 63px;
  top: 468px;
  left: 11px;
}

.privacy-and-safety .rectangle-2 {
  position: absolute;
  width: 139px;
  height: 63px;
  top: 0;
  left: 157px;
}

.privacy-and-safety .text-wrapper-4 {
  position: absolute;
  top: 5px;
  left: 168px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.privacy-and-safety .rectangle-3 {
  position: absolute;
  width: 144px;
  height: 63px;
  top: 0;
  left: 0;
}

.privacy-and-safety .text-wrapper-5 {
  position: absolute;
  width: 187px;
  top: 8px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.privacy-and-safety .rectangle-4 {
  position: absolute;
  width: 302px;
  height: 46px;
  top: 347px;
  left: 5px;
}

.privacy-and-safety .rectangle-5 {
  position: absolute;
  width: 84px;
  height: 63px;
  top: -59px;
  left: -1845px;
  object-fit: cover;
}

.privacy-and-safety .rectangle-6 {
  position: absolute;
  width: 84px;
  height: 63px;
  top: -59px;
  left: -1961px;
  object-fit: cover;
}

.privacy-and-safety .text-wrapper-6 {
  position: absolute;
  width: 90px;
  top: 658px;
  left: 312px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.privacy-and-safety .rectangle-7 {
  position: absolute;
  width: 146px;
  height: 61px;
  top: 346px;
  left: -2076px;
}

.privacy-and-safety .text-wrapper-7 {
  position: absolute;
  width: 110px;
  top: 659px;
  left: 499px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.privacy-and-safety .rectangle-8 {
  position: absolute;
  width: 143px;
  height: 61px;
  top: 346px;
  left: -1898px;
}
