.portal {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portal .div {
  background-color: #000000;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 320px;
  height: 568px;
  position: relative;
}

.portal .overlap-group {
  position: absolute;
  width: 320px;
  height: 577px;
  top: 0;
  left: 0;
}

.portal .rectangle {
  position: absolute;
  width: 320px;
  height: 272px;
  top: 22px;
  left: 0;
  mix-blend-mode: screen;
}

.portal .img {
  position: absolute;
  width: 320px;
  height: 568px;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;
  object-fit: cover;
}

.portal .taste-of-calgary-nov {
  position: absolute;
  width: 197px;
  height: 36px;
  top: 237px;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-2 {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 182px;
  left: 1px;
  object-fit: cover;
}

.portal .on-it-transit-nov {
  position: absolute;
  width: 178px;
  height: 32px;
  top: 183px;
  left: 55px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper {
  position: absolute;
  height: 20px;
  top: 43px;
  left: 122px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-3 {
  position: absolute;
  width: 68px;
  height: 58px;
  top: 314px;
  left: 24px;
  object-fit: cover;
}

.portal .rectangle-4 {
  position: absolute;
  width: 69px;
  height: 56px;
  top: 317px;
  left: 227px;
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.portal .rectangle-5 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 309px;
  left: 123px;
}

.portal .rectangle-6 {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 311px;
  left: 125px;
  object-fit: cover;
}

.portal .text-wrapper-2 {
  position: absolute;
  width: 94px;
  top: 376px;
  left: 12px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper-3 {
  position: absolute;
  width: 92px;
  top: 380px;
  left: 113px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper-4 {
  position: absolute;
  width: 92px;
  top: 510px;
  left: 9px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper-5 {
  position: absolute;
  width: 92px;
  top: 378px;
  left: 218px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-7 {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 462px;
  left: 19px;
  object-fit: cover;
}

.portal .rectangle-8 {
  position: absolute;
  width: 66px;
  height: 62px;
  top: 442px;
  left: 229px;
}

.portal .rectangle-9 {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 446px;
  left: 234px;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.portal .rectangle-10 {
  position: absolute;
  width: 43px;
  height: 41px;
  top: 135px;
  left: 4px;
  object-fit: cover;
}

.portal .germain-hotel-nov {
  position: absolute;
  width: 236px;
  height: 56px;
  top: 132px;
  left: 55px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-11 {
  position: absolute;
  width: 71px;
  height: 60px;
  top: 446px;
  left: 16px;
}

.portal .rectangle-12 {
  position: absolute;
  width: 67px;
  height: 60px;
  top: 448px;
  left: 18px;
  object-fit: cover;
}

.portal .rectangle-13 {
  position: absolute;
  width: 73px;
  height: 62px;
  top: 443px;
  left: 122px;
  background-color: #ffffff;
}

.portal .text-wrapper-6 {
  position: absolute;
  top: 508px;
  left: 141px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portal .text-wrapper-7 {
  position: absolute;
  top: 508px;
  left: 232px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portal .rectangle-14 {
  position: absolute;
  width: 65px;
  height: 28px;
  top: 188px;
  left: 229px;
  background-color: #eb002a;
  border-radius: 6px;
  border: 3px solid;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.portal .rectangle-15 {
  position: absolute;
  width: 65px;
  height: 28px;
  top: 143px;
  left: 229px;
  background-color: #eb002a;
  border-radius: 6px;
  border: 3px solid;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.portal .rectangle-16 {
  position: absolute;
  width: 65px;
  height: 28px;
  top: 89px;
  left: 229px;
  background-color: #eb002a;
  border-radius: 6px;
  border: 3px solid;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.portal .text-wrapper-8 {
  top: 190px;
  position: absolute;
  width: 66px;
  height: 22px;
  left: 240px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper-9 {
  top: 145px;
  position: absolute;
  width: 66px;
  height: 22px;
  left: 240px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .text-wrapper-10 {
  top: 91px;
  position: absolute;
  width: 66px;
  height: 22px;
  left: 240px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-17 {
  position: absolute;
  width: 65px;
  height: 29px;
  top: 242px;
  left: 229px;
  background-color: #ff0000;
  border-radius: 6px;
  border: 3px solid;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.portal .text-wrapper-11 {
  top: 244px;
  position: absolute;
  width: 66px;
  height: 22px;
  left: 240px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-18 {
  position: absolute;
  width: 79px;
  height: 62px;
  top: 443px;
  left: 116px;
  object-fit: cover;
}

.portal .air-canada-nov {
  position: absolute;
  height: 40px;
  top: 82px;
  left: 55px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Acme", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.portal .rectangle-19 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 83px;
  left: 5px;
  object-fit: cover;
}

.portal .rectangle-20 {
  position: absolute;
  width: 303px;
  height: 39px;
  top: 34px;
  left: 8px;
  border: 1px solid;
  border-color: #ffffff1c;
  mix-blend-mode: screen;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0.22) 100%);
}

.portal .rectangle-21 {
  position: absolute;
  width: 9px;
  height: 12px;
  top: -12px;
  left: 0;
  background-color: #d9d9d9;
}

#Events{
  width: 70px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity: 0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: 11px; /* Set the left position of the button */
  top: -60px; /* Set the top position of the button */
  /* Additional styles as needed */
}


#Transport{
  width: 70px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity: 0;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: 11px; /* Set the left position of the button */
  top: -68px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#Lodging{
  width: 74px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity:0;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: 5px; /* Set the left position of the button */
  top: -68px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#Flights{
  width: 70px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity: 0;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: 8px; /* Set the left position of the button */
  top: -68px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#Blog{
  width: 80px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity: 0;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -25px; /* Set the left position of the button */
  top: -68px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#Settings{
  width: 70px; /* Make the button take the full width of the container */
  height: 87px; /* Make the button take the full height of the container */
  opacity:0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -5px; /* Set the left position of the button */
  top: -68px; /* Set the top position of the button */
  /* Additional styles as needed */
}

.text-wrapper-5 {
  position: relative; /* Set the position property to relative for positioning children */
  width: 300px; /* Set the width of the text wrapper container */
  height: 150px; /* Set the height of the text wrapper container */
  top : -100px;
  left: 200px;
}

#cancel_transit{
  width: 70px; /* Make the button take the full width of the container */
  height: 25px; /* Make the button take the full height of the container */
  opacity:0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -12px; /* Set the left position of the button */
  top: 0px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#cancel_event{
  width: 70px; /* Make the button take the full width of the container */
  height: 25px; /* Make the button take the full height of the container */
  opacity:0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -12px; /* Set the left position of the button */
  top: 0px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#cancel_hotel{
  width: 70px; /* Make the button take the full width of the container */
  height: 25px; /* Make the button take the full height of the container */
  opacity:0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -12px; /* Set the left position of the button */
  top: 0px; /* Set the top position of the button */
  /* Additional styles as needed */
}

#cancel_flight{
  width: 70px; /* Make the button take the full width of the container */
  height: 25px; /* Make the button take the full height of the container */
  opacity:0 ;
  font-size: 16px; /* Set the font size of the button text */
  position: absolute;
  left: -12px; /* Set the left position of the button */
  top: 0px; /* Set the top position of the button */
  /* Additional styles as needed */
}