:root {
  --label-colorslc-l-secondary: rgba(60, 60, 67, 0.6);
  --label-colorslc-l-primary: rgba(0, 0, 0, 1);
  --black: rgba(0, 0, 0, 1);
  --headlines: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --blue: rgba(0, 122, 255, 1);
  --system-materialssm-l-thick: rgba(250, 250, 250, 0.93);
  --system-colorssc-l-blue: rgba(10, 122, 255, 1);
  --title-2-font-family: "Poppins-SemiBold", Helvetica;
  --title-2-font-weight: 600;
  --title-2-font-size: 22px;
  --title-2-letter-spacing: 0.3499999940395355px;
  --title-2-line-height: 28px;
  --title-2-font-style: normal;
  --default-size-body-font-family: "SFPro Text-Regular", Helvetica;
  --default-size-body-font-weight: 400;
  --default-size-body-font-size: 17px;
  --default-size-body-letter-spacing: -0.40799999237060547px;
  --default-size-body-line-height: 22px;
  --default-size-body-font-style: normal;
}
